@import '../../app.component.scss';

#servicios-carousel {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.carousel-control-prev {
    left: -50px;

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23337AB7' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
}

.carousel-control-next {
    right: -50px;
    
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23337AB7' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
}   

.carousel-indicators {
    bottom: -40px;
    left: 50%;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    li {
        border: 1px solid $light-blue;
        border-radius: 10px;
        margin: 2px;
        display: inline-block;
        width: 10px;
        height: 10px;
        &.active {
            background-color: $light-blue;
            height: 10px;
            margin: 2px;
            width: 10px;
        }
    }
}
@media (min-width: 768px) {
    #servicios-carousel {
        margin: auto;
        width: 70%;
    }
}

.jumbotron-servicios {
    background-image: url('../../../assets/img/slide5.jpg');
}