<div class="jumbotron jumbotron-servicios">
  <h1>Tu club</h1>
  <p>Sácale el máximo partido al Pádel</p>
</div>

<div id="servicios-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#servicios-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#servicios-carousel" data-slide-to="1"></li>
      <li data-target="#servicios-carousel" data-slide-to="2"></li>
      <li data-target="#servicios-carousel" data-slide-to="3"></li>
      <li data-target="#servicios-carousel" data-slide-to="4"></li>
      <li data-target="#servicios-carousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

      <div class="carousel-item active">
          <figure class="">
              <figcaption class="caption">
                  <h3>Organizamos tu partido</h3>
                  <p>¿Quieres jugar al pádel y se te ha caído a última hora tu pareja? No te preocupes. Nosotros organizamos tu partido. Nuestra agenda está repleta de jugadores de pádel.</p>
              </figcaption>
          </figure>
          </div>

      <div class="carousel-item">
          <figure class="">
              <figcaption class="caption">
                  <h3>Descuentos para Grupos</h3>
                  <p>Ofrecemos descuentos para empresas y todo tipo de grupos. Llama e infórmate de nuestras tarifas en cualquier hora del día. Contamos con precios económicos.</p>                                
              </figcaption>
          </figure>
      </div>

      <div class="carousel-item">
          <figure class="">
              <figcaption class="caption">
                  <h3>Escuela de Pádel</h3>
                  <p>La Escuela Padel Nuestro está dirigida a todo tipo de jugadores y edades (adultos, niños, pádel adaptado). Contarás con un monitor exclusivo para perfeccionar tu juego. </p>                                
              </figcaption>
          </figure>
      </div>

      <div class="carousel-item">
          <figure class="">
              <figcaption class="caption">
                  <h3>Terraza Bar</h3>
                  <p>Continúa el post-partido reponiendo fuerzas en nuestra terraza-bar. Disponemos de un menú especializado con las mejores comidas y tapas típicas de Madrid.</p>                                
              </figcaption>
          </figure>
      </div>

      <div class="carousel-item">
          <figure class="">
              <figcaption class="caption">
                  <h3>Eventos especiales</h3>
                  <p>Celebración de campeonatos, mini-torneos, ligas regionales, clínics para jugadores profesionales, eventos para empresas… ¡Organizamos eventos por y para ti!</p>                                
              </figcaption>
          </figure>
      </div>

      <div class="carousel-item">
          <figure class="">
              <figcaption class="caption">
                  <h3>Únete a Nosotros</h3>
                  <p>¿A qué esperas? Visita el Club Padel Nuestro y conoce nuestras pistas de pádel y servicios. Entrenamientos personales y especializados. ¡Te esperamos!</p>                                
              </figcaption>
          </figure>
      </div>

  </div>
  <!-- Controls -->
    <a class="carousel-control-prev" href="#servicios-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#servicios-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  <!-- <a class="left carousel-control ic-carousel" href="#servicios-carousel" data-slide="prev"> < </a>
  <a class="right carousel-control ic-carousel" href="#servicios-carousel" data-slide="next"> > </a> -->
</div>