<div class="jumbotron jumbotron-inicio">
  <h1>Pádel U.P.M.</h1>
  <p>El club universitario más dinámico del circuito</p>
</div>

<article class="row">
  <article class="col-sm-4">
    <h3>Clases</h3>
    <p>El conjunto de monitores más cualificados se encargará de darte la formaci&oacute;n en cuanto a técnica requerida
      en este deporte. Las clases pr&aacute;cticas te permiti&aacute;n interiorizar los movimientos adecuados como si fuesen naturales.</p>
    <p>Las clases colectivas convierten las clases en un espacio din&aacute;mico en el que jugar se convierte en una actividad placentera y divertida.</p>
    <img src='../../../assets/img/slide2.png' class='column-img'/>
  </article>
  <article class="col-sm-4">
    <h3>Entrenamientos personalizados</h3>
    <p >Si te sientes un campe&oacute;n, de verdad lo eres o simplemente quieres avanzar r&aacute;pidamente en la t&eacute;cnica que rodea a este deporte te podemos configurar sesiones de entranamiento a tu medida con un entrenador personal que se encargará de: </p>
    <ul>
      <li>Enseñarte la t&eacute;cnica adecuada para mejorar tus golpes</li>
      <li>Enseñarte a combinar la potencia con la t&eacute;cnica</li>
      <li>Mostrarte como mejorar el rendimiento en equipo</li>
      <li>Explicarte como utilizar la presi&oacute;n de los campeonatos en tu beneficio</li>
    </ul>
  </article>
  <article class="col-sm-4" >
    <h3>Campeonatos</h3>
    <p>El club organiza campeonatos peri&oacute;dicos en los que te puedes divertir al mismo tiempo que mejoras en el deporte.</p>
    <p>Tenemos campeonatos de un d&iacute;a, de fin de semana y ligas regulares. Puedes participar en los torneos masculinos, femeninos y mixtos</p>
    <img src='../../../assets/img/slide1.png' class='column-img'/>
  </article>
</article>